<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
!pip install ipython-sql
!pip install sqlalchemy==1.3.9
!pip install ibm_db
!pip install ibm_db_sa
!pip install ibm-db
!pip install ibm-db-sa

!pip install --force-reinstall ibm_db ibm_db_sa ipython-sql ibm-db ibm-db-sa sqlalchemy==1.3.9

import sqlalchemy
from sqlalchemy import *
import ibm_db
import ibm_db_sa

%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (7.28.0)
Requirement already satisfied: prettytable<1 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: matplotlib-inline in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pygments in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: decorator in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pickleshare in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.21)
Requirement already satisfied: setuptools>=18.5 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (58.3.0)
Requirement already satisfied: backcall in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (3.1.0)
Requirement already satisfied: ibm_db_sa in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm_db>=2.0.0 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ibm_db_sa) (3.1.0)
Requirement already satisfied: ibm-db in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (3.1.0)
Requirement already satisfied: ibm-db-sa in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ibm-db-sa) (1.3.9)
Requirement already satisfied: ibm_db>=2.0.0 in c:\users\johnpaul.adimonyemma\appdata\local\programs\python\python39\lib\site-packages (from ibm-db-sa) (3.1.0)
Collecting ibm_db
  Using cached ibm_db-3.1.0-py3-none-any.whl
Collecting ibm_db_sa
  Using cached ibm_db_sa-0.3.7.tar.gz (30 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting ipython-sql
  Using cached ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9.tar.gz (6.0 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting ipython>=1.0
  Using cached ipython-7.28.0-py3-none-any.whl (788 kB)
Collecting sqlparse
  Using cached sqlparse-0.4.2-py3-none-any.whl (42 kB)
Collecting ipython-genutils>=0.1.0
  Using cached ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Collecting prettytable<1
  Using cached prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting six
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting decorator
  Using cached decorator-5.1.0-py3-none-any.whl (9.1 kB)
Collecting backcall
  Using cached backcall-0.2.0-py2.py3-none-any.whl (11 kB)
Collecting matplotlib-inline
  Using cached matplotlib_inline-0.1.3-py3-none-any.whl (8.2 kB)
Collecting pickleshare
  Using cached pickleshare-0.7.5-py2.py3-none-any.whl (6.9 kB)
Collecting prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0
  Using cached prompt_toolkit-3.0.21-py3-none-any.whl (374 kB)
Collecting jedi>=0.16
  Using cached jedi-0.18.0-py2.py3-none-any.whl (1.4 MB)
Collecting traitlets>=4.2
  Using cached traitlets-5.1.0-py3-none-any.whl (101 kB)
Collecting colorama
  Using cached colorama-0.4.4-py2.py3-none-any.whl (16 kB)
Collecting setuptools>=18.5
  Using cached setuptools-58.3.0-py3-none-any.whl (946 kB)
Collecting pygments
  Using cached Pygments-2.10.0-py3-none-any.whl (1.0 MB)
Collecting parso<0.9.0,>=0.8.0
  Using cached parso-0.8.2-py2.py3-none-any.whl (94 kB)
Collecting wcwidth
  Using cached wcwidth-0.2.5-py2.py3-none-any.whl (30 kB)
Using legacy 'setup.py install' for sqlalchemy, since package 'wheel' is not installed.
Using legacy 'setup.py install' for ibm-db-sa, since package 'wheel' is not installed.
Using legacy 'setup.py install' for prettytable, since package 'wheel' is not installed.
Installing collected packages: wcwidth, traitlets, parso, setuptools, pygments, prompt-toolkit, pickleshare, matplotlib-inline, jedi, decorator, colorama, backcall, sqlparse, sqlalchemy, six, prettytable, ipython-genutils, ipython, ibm-db, ipython-sql, ibm-db-sa
  Attempting uninstall: wcwidth
    Found existing installation: wcwidth 0.2.5
    Uninstalling wcwidth-0.2.5:
      Successfully uninstalled wcwidth-0.2.5
  Attempting uninstall: traitlets
    Found existing installation: traitlets 5.1.0
    Uninstalling traitlets-5.1.0:
      Successfully uninstalled traitlets-5.1.0
  Attempting uninstall: parso
    Found existing installation: parso 0.8.2
    Uninstalling parso-0.8.2:
      Successfully uninstalled parso-0.8.2
  Attempting uninstall: setuptools
    Found existing installation: setuptools 58.3.0
    Uninstalling setuptools-58.3.0:
      Successfully uninstalled setuptools-58.3.0
  Attempting uninstall: pygments
    Found existing installation: Pygments 2.10.0
    Uninstalling Pygments-2.10.0:
      Successfully uninstalled Pygments-2.10.0
  Attempting uninstall: prompt-toolkit
    Found existing installation: prompt-toolkit 3.0.21
    Uninstalling prompt-toolkit-3.0.21:
      Successfully uninstalled prompt-toolkit-3.0.21
  Attempting uninstall: pickleshare
    Found existing installation: pickleshare 0.7.5
    Uninstalling pickleshare-0.7.5:
      Successfully uninstalled pickleshare-0.7.5
  Attempting uninstall: matplotlib-inline
    Found existing installation: matplotlib-inline 0.1.3
    Uninstalling matplotlib-inline-0.1.3:
      Successfully uninstalled matplotlib-inline-0.1.3
  Attempting uninstall: jedi
    Found existing installation: jedi 0.18.0
    Uninstalling jedi-0.18.0:
      Successfully uninstalled jedi-0.18.0
  Attempting uninstall: decorator
    Found existing installation: decorator 5.1.0
    Uninstalling decorator-5.1.0:
      Successfully uninstalled decorator-5.1.0
  Attempting uninstall: colorama
    Found existing installation: colorama 0.4.4
    Uninstalling colorama-0.4.4:
      Successfully uninstalled colorama-0.4.4
  Attempting uninstall: backcall
    Found existing installation: backcall 0.2.0
    Uninstalling backcall-0.2.0:
      Successfully uninstalled backcall-0.2.0
  Attempting uninstall: sqlparse
    Found existing installation: sqlparse 0.4.2
    Uninstalling sqlparse-0.4.2:
      Successfully uninstalled sqlparse-0.4.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
    Running setup.py install for sqlalchemy: started
    Running setup.py install for sqlalchemy: finished with status 'done'
  Attempting uninstall: six
    Found existing installation: six 1.16.0
    Uninstalling six-1.16.0:
      Successfully uninstalled six-1.16.0
  Attempting uninstall: prettytable
    Found existing installation: prettytable 0.7.2
    Uninstalling prettytable-0.7.2:
      Successfully uninstalled prettytable-0.7.2
    Running setup.py install for prettytable: started
    Running setup.py install for prettytable: finished with status 'done'
  Attempting uninstall: ipython-genutils
    Found existing installation: ipython-genutils 0.2.0
    Uninstalling ipython-genutils-0.2.0:
      Successfully uninstalled ipython-genutils-0.2.0
  Attempting uninstall: ipython
    Found existing installation: ipython 7.28.0
    Uninstalling ipython-7.28.0:
      Successfully uninstalled ipython-7.28.0
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.4.0
    Uninstalling ipython-sql-0.4.0:
      Successfully uninstalled ipython-sql-0.4.0
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.7
    Uninstalling ibm-db-sa-0.3.7:
      Successfully uninstalled ibm-db-sa-0.3.7
    Running setup.py install for ibm-db-sa: started
    Running setup.py install for ibm-db-sa: finished with status 'done'
Successfully installed backcall-0.2.0 colorama-0.4.4 decorator-5.1.0 ibm-db-3.1.0 ibm-db-sa-0.3.7 ipython-7.28.0 ipython-genutils-0.2.0 ipython-sql-0.4.0 jedi-0.18.0 matplotlib-inline-0.1.3 parso-0.8.2 pickleshare-0.7.5 prettytable-0.7.2 prompt-toolkit-3.0.21 pygments-2.10.0 setuptools-58.3.0 six-1.16.0 sqlalchemy-1.3.9 sqlparse-0.4.2 traitlets-5.1.0 wcwidth-0.2.5

In [ ]:
# %reload_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [2]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://gzc01630:42rLon1xTy5a6TLY@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb?security=SSL

## LOADING OF THE COLUMNS TO HAVE AN OVERVIEW OF THE TABLES

### For the Chicago Crime

In [10]:
%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'CHICAGO_CRIME'

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('ARREST', 'VARCHAR ', 5),
 ('BEAT', 'SMALLINT', 2),
 ('BLOCK', 'VARCHAR ', 35),
 ('CASE_NUMBER', 'VARCHAR ', 8),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('DATE', 'DATE    ', 4),
 ('DESCRIPTION', 'VARCHAR ', 46),
 ('DISTRICT', 'SMALLINT', 2),
 ('DOMESTIC', 'VARCHAR ', 5),
 ('FBICODE', 'VARCHAR ', 3),
 ('ID', 'INTEGER ', 4),
 ('IUCR', 'VARCHAR ', 4),
 ('LATITUDE', 'DECIMAL ', 18),
 ('LOCATION', 'VARCHAR ', 29),
 ('LOCATION_DESCRIPTION', 'VARCHAR ', 33),
 ('LONGITUDE', 'DECIMAL ', 18),
 ('PRIMARY_TYPE', 'VARCHAR ', 15),
 ('WARD', 'SMALLINT', 2),
 ('X_COORDINATE', 'INTEGER ', 4),
 ('YEAR', 'SMALLINT', 2),
 ('Y_COORDINATE', 'INTEGER ', 4)]

### For the census data columns

In [12]:
%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'CENSUS_DATA'

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('COMMUNITY_AREA_NAME', 'VARCHAR ', 22),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('HARDSHIP_INDEX', 'SMALLINT', 2),
 ('PERCENT_AGED_16__UNEMPLOYED', 'DECIMAL ', 4),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'DECIMAL ', 4),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'DECIMAL ', 4),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'DECIMAL ', 4),
 ('PERCENT_OF_HOUSING_CROWDED', 'DECIMAL ', 4),
 ('PER_CAPITA_INCOME', 'INTEGER ', 4)]

### For the Public School tables

In [13]:
%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('10th Grade PLAN (2009)', 'VARCHAR ', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR ', 4),
 ('11th Grade Average ACT (2011)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR ', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR ', 4),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_', 'VARCHAR ', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR ', 6),
 ('AVERAGE_TEACHER_ATTENDANCE', 'VARCHAR ', 6),
 ('CITY', 'VARCHAR ', 7),
 ('COLLABORATIVE_NAME', 'VARCHAR ', 34),
 ('COLLEGE_ELIGIBILITY__', 'VARCHAR ', 4),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('COLLEGE_ENROLLMENT_RATE__', 'VARCHAR ', 4),
 ('COMMUNITY_AREA_NAME', 'VARCHAR ', 22),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR ', 15),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR ', 16),
 ('ENVIRONMENT_ICON', 'VARCHAR ', 11),
 ('ENVIRONMENT_SCORE', 'SMALLINT', 2),
 ('Elementary, Middle, or High School', 'VARCHAR ', 2),
 ('FAMILY_INVOLVEMENT_ICON', 'VARCHAR ', 11),
 ('FAMILY_INVOLVEMENT_SCORE', 'VARCHAR ', 3),
 ('FRESHMAN_ON_TRACK_RATE__', 'VARCHAR ', 4),
 ('GENERAL_SERVICES_ROUTE', 'SMALLINT', 2),
 ('GR3_5_GRADE_LEVEL_MATH__', 'VARCHAR ', 4),
 ('GR3_5_GRADE_LEVEL_READ__', 'VARCHAR ', 4),
 ('GR3_5_KEEP_PACE_MATH__', 'VARCHAR ', 4),
 ('GR3_5_KEEP_PACE_READ__', 'VARCHAR ', 4),
 ('GR6_8_GRADE_LEVEL_MATH__', 'VARCHAR ', 4),
 ('GR6_8_GRADE_LEVEL_READ__', 'VARCHAR ', 4),
 ('GR6_8_KEEP_PACE_MATH_', 'VARCHAR ', 4),
 ('GR6_8_KEEP_PACE_READ__', 'VARCHAR ', 4),
 ('GRADUATION_RATE__', 'VARCHAR ', 4),
 ('GR_8_EXPLORE_MATH__', 'VARCHAR ', 4),
 ('GR_8_EXPLORE_READ__', 'VARCHAR ', 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR ', 3),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'VARCHAR ', 7),
 ('INSTRUCTION_ICON', 'VARCHAR ', 11),
 ('INSTRUCTION_SCORE', 'SMALLINT', 2),
 ('ISAT_EXCEEDING_MATH__', 'DECIMAL ', 4),
 ('ISAT_EXCEEDING_READING__', 'DECIMAL ', 4),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR ', 6),
 ('ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR ', 6),
 ('ISAT_VALUE_ADD_MATH', 'DECIMAL ', 3),
 ('ISAT_VALUE_ADD_READ', 'DECIMAL ', 3),
 ('LATITUDE', 'DECIMAL ', 18),
 ('LEADERS_ICON', 'VARCHAR ', 4),
 ('LEADERS_SCORE', 'VARCHAR ', 3),
 ('LINK', 'VARCHAR ', 78),
 ('LOCATION', 'VARCHAR ', 27),
 ('LONGITUDE', 'DECIMAL ', 18),
 ('NAME_OF_SCHOOL', 'VARCHAR ', 64),
 ('NETWORK_MANAGER', 'VARCHAR ', 40),
 ('NET_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR ', 3),
 ('NET_CHANGE_PLAN_AND_ACT', 'VARCHAR ', 3),
 ('PARENT_ENGAGEMENT_ICON', 'VARCHAR ', 7),
 ('PARENT_ENGAGEMENT_SCORE', 'VARCHAR ', 3),
 ('PARENT_ENVIRONMENT_ICON', 'VARCHAR ', 7),
 ('PARENT_ENVIRONMENT_SCORE', 'VARCHAR ', 3),
 ('PHONE_NUMBER', 'VARCHAR ', 14),
 ('PK_2_LITERACY__', 'VARCHAR ', 4),
 ('PK_2_MATH__', 'VARCHAR ', 4),
 ('POLICE_DISTRICT', 'SMALLINT', 2),
 ('RATE_OF_MISCONDUCTS__PER_100_STUDENTS_', 'DECIMAL ', 5),
 ('SAFETY_ICON', 'VARCHAR ', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('SCHOOL_ID', 'INTEGER ', 4),
 ('STATE', 'VARCHAR ', 2),
 ('STREET_ADDRESS', 'VARCHAR ', 29),
 ('STUDENTS_PASSING__ALGEBRA__', 'VARCHAR ', 4),
 ('STUDENTS_TAKING__ALGEBRA__', 'VARCHAR ', 4),
 ('TEACHERS_ICON', 'VARCHAR ', 11),
 ('TEACHERS_SCORE', 'VARCHAR ', 3),
 ('TRACK_SCHEDULE', 'VARCHAR ', 12),
 ('WARD', 'SMALLINT', 2),
 ('X_COORDINATE', 'DECIMAL ', 13),
 ('Y_COORDINATE', 'DECIMAL ', 13),
 ('ZIP_CODE', 'INTEGER ', 4)]

#                                                       Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [3]:
%sql select count(*) from CHICAGO_CRIME;

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [5]:
%sql select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(26, 'West Garfield Park', 10934),
 (30, 'South Lawndale', 10402),
 (37, 'Fuller Park', 10432),
 (54, 'Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [33]:
%%sql 
SELECT CASE_NUMBER
FROM CHICAGO_CRIME
WHERE DESCRIPTION LIKE '%MINOR%' ;

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [40]:
%%sql
SELECT CASE_NUMBER, DESCRIPTION, PRIMARY_TYPE, ARREST
FROM CHICAGO_CRIME
WHERE PRIMARY_TYPE = 'KIDNAPPING';

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('HN144152', 'CHILD ABDUCTION/STRANGER', 'KIDNAPPING', 'FALSE')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [43]:
%%sql SELECT DISTINCT(PRIMARY_TYPE)
FROM CHICAGO_CRIME
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

### Problem 6

##### List the average safety score for all types of schools.

In [45]:
%%sql
SELECT "Elementary, Middle, or High School",AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY "Elementary, Middle, or High School";

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [51]:
%%sql
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
FROM CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5 ;

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [52]:
%%sql
SELECT CCD.COMMUNITY_AREA_NUMBER ,COUNT(CCD.COMMUNITY_AREA_NUMBER) AS FREQUENCY
FROM CHICAGO_CRIME AS CCD 
GROUP BY CCD.COMMUNITY_AREA_NUMBER
ORDER BY COUNT(CCD.COMMUNITY_AREA_NUMBER) DESC
LIMIT 1

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(25, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [53]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM  CENSUS_DATA
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [55]:
%%sql
SELECT community_area_name
FROM CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (    
    SELECT CCD.COMMUNITY_AREA_NUMBER 
    FROM CHICAGO_CRIME AS CCD 
    GROUP BY CCD.COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(CCD.COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1)

LIMIT 1;

 * ibm_db_sa://gzc01630:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Austin',)]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>